
.whitesmoke {
    background-color: rgb(247,245,242);
  }
.logospace{
    max-width: 400px;
    overflow:hidden;
}
img {
    width:100%;
    object-fit:contain;
}
.banner {
    background: white url("/images/skyonly.jpg") no-repeat;
    overflow:hidden;
}
.bb {
    border-bottom: 1px solid black;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
